wp-content/uploads
wp-content/themes/*
wp-*

wp-content/languages/*
!wp-content/languages/plugins/wordpress-popular-posts-ja.po

wp-content/plugins
wp-config.php
wp-config-sample.php
readme.html
wp-config-docker.php
wp-includes/*
wp-admin/*
*.pem
.htaccess

ahAHVElo9J.zip
crons/.vscode/
crons/error_log
luxe-manifest.json
luxe-serviceworker.js
wordpress/
wp-content/updraft/
wpt-hotlinked-image-stub.png

vendor
composer*
node_modules
selenium
package*

wp-content/mu-plugins
